.redstring{
color: red;
font-family: courier;
}
.mumu{
background-color: pink;
}
#xx {}
.bluestring{
color: blue;
font-family: arial;
}
h1 {
font-size: 250;
font-size:150%;
}
[class=redstring] {
color:red
}
